{% extends 'base.jinja' %}

{% block head %}

<style>
  .text-small-top {
    font-size: 12px; /* Tamanho de fonte menor */
    position: absolute; /* Posição absoluta para sobrepor o conteúdo */
    top: 10px; /* Posição superior de 10px */
    left: 10px; /* Posição esquerda de 10px */
    margin: 0; /* Margem zero para evitar espaçamento extra */
    padding: 0; /* Preenchimento zero para evitar espaçamento extra */
    font-weight: bold; /* Deixa o texto em negrito */

}
</style>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-lg-3 col-6">
      <!-- small card -->
      <div class="small-box bg-info">
        <a href="/" class="small-box">
        <div class="inner">
            <h3>{{ quantidade_alunos }}</h3>
            <h5>Alunos</h5>
        </div>
        <div class="icon">
            <i class="fas fa-users"></i>
        </div>
            <a href="/" class="small-box-footer">
                <small>Alunos Ativos {{ total_alunos_ativos }}</small> <i class="fas fa-arrow-circle-right"></i>
            </a>
        </a>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
      <!-- small card -->
      <div class="small-box bg-success">
        <a href="/pagamsemana" class="small-box">
            <div class="inner">
                <h3>{{alunos_pagam_semana|length}}</h3>
                <h5>Pagamentos</h5>
            </div>
            <div class="icon">
                <i class="fas fa-wallet"></i>
            </div>
                <a href="/pagamsemana" class="small-box-footer">
                    <small>Essa Semana</small> <i class="fas fa-arrow-circle-right"></i>
                </a>
            </a>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
      <!-- small card -->
      <div class="small-box bg-warning">
        <a href="/atualizarmedidas" class="small-box">
            <div class="inner">
                <h3>{{ alunos_atualizar_medidas|length }}</h3>
                <h5>Atualizar</h5>
            </div>
            <div class="icon">
                <i class="fas fa-sync-alt"></i>
            </div>
                <a href="/atualizarmedidas" class="small-box-footer">
                    <small>Medidas & Exercicios</small> <i class="fas fa-arrow-circle-right"></i>
                </a>
            </a>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
      <!-- small card -->
      <div class="small-box bg-danger">
        <a href="/inadimplentes" class="small-box">
            <div class="inner">
                <h3>{{ inadimplentes|length }}</h3>
                <h5>Inadimplentes</h5>
            </div>
            <div class="icon">
                <i class="fas fa-exclamation-triangle"></i>
            </div>
                <a href="/inadimplentes" class="small-box-footer">
                    <small>Inadimplentes</small> <i class="fas fa-arrow-circle-right"></i>
                </a>
            </a>
      </div>
    </div>
    <!-- ./col -->
</div>

<br>
<div class="card">
    <div class="card-header border-transparent">
       <h3 class="card-title">Proximos Pagantes na Semana</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove">
                <i class="fas fa-times"></i>
            </button>
        </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body p-0">
        <div class="table-responsive">
            <table class="table m-0">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Status</th>
                        <th>Navegar</th>
                    </tr>
                </thead>
                <tbody id="tabelaAlunosBody">
                    {% for aluno in alunos_pagam_semana %}
                    <tr>
                        <td>{{ aluno.nome }}</td>
                         <td>
                            {% if aluno.inadimplente %}
                            <span class="badge badge-danger">Inadimplente</span>
                            <br>
                                Referente: {{ aluno.proximaDataPagamento }}
                            {% else %}
                            <span class="badge badge-success">
                                Prox. Pagamento: </span>{{ aluno.proximaDataPagamento }}
                          
                            {% endif %}
                        </td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-info">Ações</button>
                                <button type="button" class="btn btn-info dropdown-toggle dropdown-hover dropdown-icon" data-toggle="dropdown">
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <div class="dropdown-menu" role="menu">
                                    <a class="dropdown-item" href="alunos/detalhes/{{ aluno.id }}">Detalhes</a>
                                    <a class="dropdown-item" href="/alunos/atualizar_ex/{{ aluno.id }}">Exercícios</a>
                                    <div class="dropdown-divider"></div>
                                    <button class="dropdown-item text-danger" type="button" onclick="confirmarExclusao('{{ aluno.id }}')">Deletar</button>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- /.table-responsive -->
    </div>
    <!-- /.card-body -->
    <!-- Aqui poderia ir um .card-footer se necessário -->
</div>

{% endblock %}


{% block scripts %}
<!-- Inclua o JS do Moment.js, que é uma dependência do Date Range Picker -->
<script src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script>
    var alunos = [
        {% for aluno in alunos %}
            {
                "id": "{{ aluno.id }}",
                "nome": "{{ aluno.nome }}",
                "inadimplente": {{ aluno.inadimplente|lower }},
            },
        {% endfor %}
    ];

    var pesquisaInput = document.getElementById('pesquisa');
    var listaPesquisa = document.getElementById('listaPesquisa');
    var tabelaAlunosBody = document.getElementById('tabelaAlunosBody');

    pesquisaInput.addEventListener('input', function () {
        var termoPesquisa = pesquisaInput.value.trim().toLowerCase();
    
        if (termoPesquisa === '') {
            listaPesquisa.innerHTML = '';
            atualizarTabela(alunos);
            return;
        }
    
        var resultados = alunos.filter(function (aluno) {
            return aluno.nome.toLowerCase().includes(termoPesquisa);
        });
    
       
    
        // Atualiza a tabela de alunos
        atualizarTabela(resultados);
    });

    function atualizarTabela(resultados) {
        tabelaAlunosBody.innerHTML = '';
    
        resultados.forEach(function (resultado) {
            var newRow = tabelaAlunosBody.insertRow(tabelaAlunosBody.rows.length);
            var cellNome = newRow.insertCell(0);
            var cellStatus = newRow.insertCell(1);
            var cellAcoes = newRow.insertCell(2);
    
            cellNome.innerHTML = resultado.nome;
    
            cellStatus.innerHTML = resultado.inadimplente
                ? '<span class="text-danger">Inadimplente</span><br>'
                : '<span class="text-success">Pago</span>';
    
            var detalhesButton = document.createElement('button');
            detalhesButton.textContent = 'Detalhes';
            detalhesButton.className = 'btn btn-primary btn-sm';
            detalhesButton.onclick = function () {
                window.open('alunos/detalhes/' + resultado.id);
            };
    
            cellAcoes.appendChild(detalhesButton);
    
            var deletarButton = document.createElement('button');
            deletarButton.textContent = 'Deletar';
            deletarButton.className = 'btn btn-danger btn-sm';
            deletarButton.onclick = function () {
                var confirmacao = confirm("Tem certeza de que deseja excluir este aluno?");
                if (confirmacao) {
                    window.location.href = "/alunos/deletar/" + resultado.id;
                }
            };
    
            cellAcoes.appendChild(deletarButton);
        });
    }

    function confirmarExclusao(alunoId) {
        var confirmacao = confirm("Tem certeza de que deseja excluir este aluno?");
        if (confirmacao) {
            window.location.href = "/alunos/deletar/" + alunoId;
        }
    }
</script>
<!-- Inclua o JS do Date Range Picker -->
<script src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js">
</script>
{% include 'pages/alunos/detalhes/script.html'%}

{% endblock %}
