<!DOCTYPE html>
<html lang="pt-br">

<head>
  {% include 'base/head.html' %}
  {% block head %}{% endblock %}
</head>

<body class="hold-transition layout-top-nav dark-mode">

  <div class="wrapper">
    {% include 'base/navbar.html' %}

    <div class="content-wrapper">    
      <section class="content">
        <div class="container-fluid" style="padding-top: 20px;">
        {% block content %}{% endblock %}
        </div>
      </section>
    </div>
  </div>

<!-- REQUIRED SCRIPTS -->
{% include 'base/scripts.html' %}
{% block scripts %}{% endblock %}
</body>
</html>
