<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cadastro_aluno.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/IMG.png') }}" type="image/x-icon">
    <title>Detalhes do Aluno</title>
</head>
<body class="detalhes-page">
    <main>
        <div class="registro-formulario">
            <h1>Detalhes do Aluno</h1>
        </div>  
        
            {% for aluno in aluno %}
                <div class="dados-pessoais">
                    <div class="input-wrapper">
                        <label for="nome">Nome:</label>
                        <p>{{ aluno.nome }}</p>
                    </div>
                    <div class="input-wrapper">
                        <label for="idade">Idade:</label>
                        <p>{{ aluno.idade }}</p>
                    </div>
                    <div class="input-wrapper">
                        <label for="sexo">Sexo:</label>
                        <p>{{ aluno.sexo }}</p>
                    </div>
                    <div class="input-wrapper">
                        <label for="altura">Altura (cm):</label>
                        <p>{{ aluno.altura }}</p>
                    </div>
                    <div class="input-wrapper">
                        <label for="peso">Peso (kg):</label>
                        <p>{{ aluno.peso }}</p>
                    </div>
                    <div class="input-wrapper">
                        <label for="email">Email:</label>
                        <p>{{ aluno.email }}</p>
                    </div>
                    <div class="input-wrapper">
                        <label for="telefone">Telefone:</label>
                        <p>{{ aluno.telefone }}</p>
                    </div>
                    <div class="input-wrapper">
                        <label for="dia_semana">Dia do Pagamento:</label>
                        <p>{{ aluno.dia_semana }}</p>
                    </div>
                    <div class="input-wrapper">
                        <label for="horario">Horario:</label>
                        <p>{{ aluno.horario }}</p>
                    </div>
                    <div class="input-wrapper">
                        <label for="obj">Objetivo:</label>
                        <p>{{ aluno.obj }}</p>
                    </div> 
                    <div class="input-wrapper">
                        <label>Exercícios:</label>
                        <ul>
                            {% for exercicio in aluno.exercicios %}
                                <li>{{ exercicio.tipoTreino }} - {{ exercicio.exercicio }} - {{ exercicio.serie }} - {{ exercicio.repeticao }} - {{ exercicio.descanso }} - {{ exercicio.carga }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div  class="enviar">
                        <button class="registro-formulario" type="button" >MODIFICAR</button>
                    </div>
                    <div  class="enviar">
                        <button class="registro-formulario" type="button" onclick="confirmarExclusao('{{ aluno.id }}')">DELETAR</button>
                    </div>
                    <!-- Adicione outros campos de dados pessoais aqui -->
                </div>
            {% endfor %}
        <!-- Botão para voltar à lista de alunos -->
        <div class="enviar">
            <a href="/alunos">
                <button class="registro-formulario" type="button">VOLTAR</button>
            </a>
        </div>
    </main>
    <script>
        function confirmarExclusao(alunoId) {
            var confirmacao = confirm("Tem certeza de que deseja excluir este aluno?");
            if (confirmacao) {
                window.location.href = "/alunos/deletar/" + alunoId;
            }
        }
    </script>
</body>
</html>
