
<!DOCTYPE html>
<html lang="pt-br" translate="no">

<head>
  <!-- 
         * @Package: Ensign PWA Mobile App 
         * @Author: themepassion
         * @Version: 1.0
        -->
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>Academia | Innovare</title>
  <meta content="Ensign PWA Mobile App" name="description" />
  <meta content="themepassion" name="author" />
  
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


  <!-- App Icons -->

  <meta name="description" content="{{ manifest.description }}">

    <!-- Vincula o manifest.json usando url_for -->
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">

    <!-- Adicione as tags de ícone para diferentes tamanhos usando um loop -->
    {% for icon in manifest.icons %}
        {% set icon_path = url_for('static', filename=icon.src) %}
        <link rel="icon" type="image/png" sizes="{{ icon.sizes }}" href="{{ icon_path }}">
    {% endfor %}
  
  <meta name="msapplication-TileColor" content="#ffffff">
 
  <meta name="theme-color" content="#ffffff">

  <!-- CORE CSS FRAMEWORK - START -->
  <link href="{{ url_for('static', filename='assets/css/preloader.css') }}" type="text/css" rel="stylesheet" media="screen" />

  <link href="{{ url_for('static', filename='modules/materialize/materialize.min.css') }}" type="text/css" rel="stylesheet" media="screen" />
  <link href="{{ url_for('static', filename='modules/fonts/mdi/appicon/appicon.css') }}" type="text/css" rel="stylesheet" media="screen" />
  <link href="{{ url_for('static', filename='modules/fonts/mdi/materialdesignicons.min.css') }}" type="text/css" rel="stylesheet" media="screen" />
  <link href="{{ url_for('static', filename='modules/perfect-scrollbar/perfect-scrollbar.css') }}" type="text/css" rel="stylesheet" media="screen" />
  

  <!-- CORE CSS FRAMEWORK - END -->

  <!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - START -->
    <!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - END -->

  <!-- CORE CSS TEMPLATE - START -->

  <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='assets/images/icons/favicon-16x16.png') }}">

    <link href="{{ url_for('static', filename='assets/css/style.css')}}" type="text/css" rel="stylesheet" media="screen" id="main-style" />
  <!-- CORE CSS TEMPLATE - END -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/evolucao.css') }}">

</head>
<!-- END HEAD -->

<!-- BEGIN BODY -->
<body class=" menu-full header-image html"  data-header="light" data-footer="light"  data-header_align="app"  data-menu_type="left" data-menu="light" data-menu_icons="on" data-footer_type="left" data-site_mode="light" data-footer_menu="show" data-footer_menu_style="light"  >
    <div class="preloader-background">
      <div class="preloader-wrapper">
        <div class="configure-border-1">  
        </div>  
        <div class="configure-border-2">
        </div> 
      </div>
    </div>

  <!-- SIDEBAR - START -->
<!-- MAIN MENU - START -->

<!-- MAIN MENU - END -->

<!--  SIDEBAR - END --><!-- SIDEBAR - START -->

<!-- MAIN MENU - START -->

<!-- MAIN MENU - END -->

<!--  SIDEBAR - END -->

<!-- START navigation -->
<nav class="fix_topscroll logo_on_fixed  topbar navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="index.html" class=" brand-logo " >Innovare</a>    
      
      <a href="/logout" data-target="" class="waves-effect waves-circle navicon back-button htmlmode show-on-large "><i class="mdi mdi-arrow-left" data-page=""></i></a>
    
    
    <a href="#" data-target="slide-nav" class="waves-effect waves-circle navicon sidenav-trigger show-on-large"><i class="app-icon-menu1"></i></a>

    <a href="#" data-target="slide-settings" class="waves-effect waves-circle navicon right sidenav-trigger show-on-large"><i class="app-icon-equalizer"></i></a>

    <a href="#" data-target="" class="waves-effect waves-circle navicon right nav-site-mode show-on-large"><i class="app-icon-contrast"></i></a>
    <!-- <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a> -->
  </div>
</nav>
  <ul id="slide-nav" class="sidenav sidemenu">
  <li class="user-wrap">
    <div class="user-view row">
     
            <div class="col s3 imgarea">
        <a href="#user" class="status available"><img class="circle" src="{{ url_for('static', filename='images/IMG.png') }}" alt="menu user"></a>

      </div>
            <div class="col s9 infoarea">
        <a href=""><span class="name"> {{aluno.nome}}</span></a>
        <a href="">
          <span class="date">Inicio: {{aluno.data_entrada.strftime('%d/%m/%Y')}} </span>
         
        </a>
      </div>
    </div>
  </li>
  <li class="menulinks">
    <ul class="collapsible">
      <!-- Menu Data Start-->
    <li class="sh-wrap">
      <div class="subheader">
          Explore
      </div>
    </li>             
    <li class="lvl1 ">
        <div class="waves-effect ">
          <a href="/treino/" class="sidenav-trigger" >
              <i class="mdi mdi-dumbbell"></i>
              <span class="title">Treino</span>
              <div class='lvl1-tag'>
                Sala dos treinos
              </div> 
            </a>
        </div>
      </li> 
    <li class="lvl1 ">
      <div class="waves-effect ">
        <a href="/login/logout" class="sidenav-trigger" >
          <i class="mdi mdi-logout"></i>
          <span class="title">Sair</span>
          <div class='lvl1-tag'>
            Sair do app
          </div> 
        </a>
       
      </div>
    </li> 
    <!-- Menu Data End-->
    </ul>
  </li>
    
    <li class="copy-spacer"></li>
    <li class="copy-wrap">
  <div class="copyright">
    &copy; krypta @ Innovare
  </div>
  </ul>
  <!-- END navigation -->
  <ul id="slide-settings" class="sidenav sidesettings ">
    <li class="menulinks">
      <ul class="collapsible">
      <!-- Menu Settings Start-->
      <li class="sh-wrap"><div class="subheader">Temas</div></li>
                    <li class="lvl1  theme">
                    <div class="waves-effect appsettings " data-type="theme" data-value="red">
                        <a href="#!">
                        <i class="mdi mdi-checkbox-intermediate red-text text-lighten-2"></i>
                        <span class="title">Red</span>  </a>
                        </div></li>
                    <li class="lvl1  theme">
                    <div class="waves-effect appsettings " data-type="theme" data-value="orange">
                        <a href="#!">
                        <i class="mdi mdi-checkbox-blank-outline deep-orange-text text-lighten-2"></i>
                        <span class="title">Orange</span>  </a>
                        </div></li>
                    <li class="lvl1  theme">
                    <div class="waves-effect appsettings " data-type="theme" data-value="blue">
                        <a href="#!">
                        <i class="mdi mdi-checkbox-blank-outline blue-text text-lighten-2"></i>
                        <span class="title">Blue</span>  </a>
                        </div></li>
                    <li class="lvl1  theme">
                    <div class="waves-effect appsettings " data-type="theme" data-value="teal">
                        <a href="#!">
                        <i class="mdi mdi-checkbox-blank-outline teal-text text-lighten-2"></i>
                        <span class="title">Teal</span>  </a>
                        </div></li>
                    <li class="lvl1  theme">
                    <div class="waves-effect appsettings " data-type="theme" data-value="pink">
                        <a href="#!">
                        <i class="mdi mdi-checkbox-blank-outline pink-text text-lighten-2"></i>
                        <span class="title">Pink</span>  </a>
                        </div></li>
                    <li class="lvl1  theme">
                    <div class="waves-effect appsettings " data-type="theme" data-value="light-green">
                        <a href="#!">
                        <i class="mdi mdi-checkbox-blank-outline light-green-text text-lighten-2"></i>
                        <span class="title">Light Green</span>  </a>
                        </div></li>
                    <li class="lvl1  theme">
                    <div class="waves-effect appsettings " data-type="theme" data-value="purple">
                        <a href="#!">
                        <i class="mdi mdi-checkbox-blank-outline purple-text text-lighten-2"></i>
                        <span class="title">Violet</span>  </a>
                        </div></li>
                    <li class="lvl1  theme">
                    <div class="waves-effect appsettings " data-type="theme" data-value="green">
                        <a href="#!">
                        <i class="mdi mdi-checkbox-blank-outline green-text text-lighten-2"></i>
                        <span class="title">Green</span>  </a>
                        </div></li>
                    <li class="lvl1  theme">
                    <div class="waves-effect appsettings active" data-type="theme" data-value="deep-purple">
                        <a href="#!">
                        <i class="mdi mdi-checkbox-blank-outline deep-purple-text text-lighten-2"></i>
                        <span class="title">Purple</span>  </a>
                        </div></li>
                    <li class="lvl1  theme">
                    <div class="waves-effect appsettings " data-type="theme" data-value="amber">
                        <a href="#!">
                        <i class="mdi mdi-checkbox-blank-outline amber-text"></i>
                        <span class="title">Yellow</span>  </a>
                        </div></li>
                    <li class="lvl1  theme">
                    <div class="waves-effect appsettings " data-type="theme" data-value="indigo">
                        <a href="#!">
                        <i class="mdi mdi-checkbox-blank-outline indigo-text text-lighten-2"></i>
                        <span class="title">Indigo</span>  </a>
                        </div></li>
                    <li class="lvl1  theme">
                    <div class="waves-effect appsettings " data-type="theme" data-value="blue-grey">
                        <a href="#!">
                        <i class="mdi mdi-checkbox-blank-outline blue-grey-text text-lighten-2"></i>
                        <span class="title">Blue Grey</span>  </a>
                        </div></li>
                    <li class="lvl1  theme">
                    <div class="waves-effect appsettings " data-type="theme" data-value="brown">
                        <a href="#!">
                        <i class="mdi mdi-checkbox-blank-outline brown-text text-lighten-2"></i>
                        <span class="title">Brown</span>  </a>
                        </div></li>
                    <li class="lvl1  theme">
                    <div class="waves-effect appsettings " data-type="theme" data-value="cyan">
                        <a href="#!">
                        <i class="mdi mdi-checkbox-blank-outline cyan-text text-lighten-2"></i>
                        <span class="title">Cyan</span>  </a>
                        </div></li>
                    <li class="lvl1  theme">
                    <div class="waves-effect appsettings " data-type="theme" data-value="grey">
                        <a href="#!">
                        <i class="mdi mdi-checkbox-blank-outline grey-text text-darken-2"></i>
                        <span class="title">Black</span>  </a>
                        </div></li><li class="sep-wrap"><div class="divider"></div></li><li class="sh-wrap"><div class="subheader">Site Mode</div></li>
                    <li class="lvl1  site_mode">
                    <div class="waves-effect appsettings active" data-type="site_mode" data-value="light">
                        <a href="#!">
                        <i class="mdi mdi-checkbox-intermediate"></i>
                        <span class="title">Light Mode</span>  </a>
                        </div></li>
                    <li class="lvl1  site_mode">
                    <div class="waves-effect appsettings " data-type="site_mode" data-value="dark">
                        <a href="#!">
                        <i class="mdi mdi-checkbox-blank-outline"></i>
                        <span class="title">Dark Mode</span>  </a>
                    <li class="lvl1  header">
                   
                   
                   
      </ul>
    </li>
  </ul>

<div class="menu-close">
  <i class="mdi mdi-close">

  </i>
</div>

<div class="content-area">
  <div class="pagehead-bg   primary-bg" >
  </div> 

  <div class="container has-pagehead is-pagetitle">
    <div class="section">
      <h5 class="pagetitle">{{ aluno.nome }}</h5>

    </div>
  </div>
  <div class="container transparent pr0 pl0 relative">
    <div class="section pt0 pb0">
      <div class="row">
        <div class="col s12 pad-0">
            <div class="table-responsive">
                <br>
                <table class="table table-bordered">
                    <!-- Cabeçalho da tabela -->
                    <thead>
                        <tr>
                            <th scope="col">Medidas</th>
                            <th scope="col">
                                Antes
                                <div id="antesData" class="data-date"></div>
                               <button id="prevDate" class="btn btn-secondary">Anterior</button>
                               
                            </th>
                            <th scope="col">
                                Depois
                                <div id="depoisData" class="data-date"></div>
                                <button id="nextDate" class="btn btn-secondary">Próxima</button>
                            </th>
                        </tr>
                    </thead>
                    <!-- Corpo da tabela -->
                    <tbody id="medidasTableBody">
                        <!-- As linhas serão preenchidas dinamicamente com JavaScript -->
                    </tbody>
                </table>
                <!-- Adicionar gráfico de peso -->
                <canvas id="graficoPeso" width="400" height="300"></canvas>
                <!-- Legenda de cores -->
                <div id="legendaCores"></div>
            </div>
            <div class="card-content">
                <p><strong>Esta página mostra sua evolução na academia, exibindo medidas corporais com indicadores visuais intuitivos para identificar ganhos ou perdas entre as últimas atualizações.</strong></p>
            </div>
        </div>
    </div>
</div>

<!-- Importar script do Chart.js -->
<script>
  document.addEventListener('DOMContentLoaded', function () {
      var historicoMedidas = {% if medidas %}{{ medidas | tojson | safe }}{% else %}[]{% endif %};

      // Função para formatar data
      function formatarData(data) {
        // Verifica se a data é uma string e se possui conteúdo
        if (!data || typeof data !== 'string') {
            return 'Indefinido';
        }
    
        // Tenta criar uma data válida
        var date = new Date(data);
        if (isNaN(date)) {
            // Tenta converter formatos comuns de entrada, como DD-MM-YYYY
            var partes = data.split('-');
            if (partes.length === 3) {
                // Converte DD-MM-YYYY para MM/DD/YYYY
                data = `${partes[1]}/${partes[0]}/${partes[2]}`;
                date = new Date(data);
            }
        }
    
        if (isNaN(date)) {
            return 'Indefinido';
        }
    
        var options = { year: 'numeric', month: '2-digit', day: '2-digit' };
        return date.toLocaleDateString('pt-BR', options);
    }

      // Dicionário para nomes das medidas
      var nomesMedidas = {
          'peso': 'Peso',
          'ombro': 'Ombro',
          'torax': 'Tórax',
          'braco_d': 'Braço Direito',
          'braco_e': 'Braço Esquerdo',
          'ant_d': 'Antebraço Direito',
          'ant_e': 'Antebraço Esquerdo',
          'cintura': 'Cintura',
          'abdome': 'abdômen',
          'quadril': 'Quadril',
          'coxa_d': 'Coxa Direita',
          'coxa_e': 'Coxa Esquerda',
          'pant_d': 'Panturrilha Direita',
          'pant_e': 'Panturrilha Esquerda'
      };

      // Função para calcular a diferença entre dois valores
      function calcularDiferenca(antes, depois) {
        if (antes === 'Indefinido' || depois === 'Indefinido') {
            return 'Indefinido';
        }
        return depois - antes;
    }

      var ctxPeso = document.getElementById('graficoPeso').getContext('2d');
      var graficoPeso = new Chart(ctxPeso, {
          type: 'bar',
          data: {
              labels: Object.values(nomesMedidas),
              datasets: [
                  {
                      label: 'Antes',
                      backgroundColor: '#103778',
                      borderColor: '#151F30',
                      borderWidth: 1,
                      data: []
                  },
                  {
                      label: 'Depois',
                      backgroundColor: [],
                      borderColor: '#151F30',
                      borderWidth: 1,
                      data: []
                  }
              ]
          },
          options: {
              scales: {
                  y: {
                      beginAtZero: true,
                      min: 0
                  }
              }
          }
      });

      function atualizarTabelaEChart(dataIndex) {
          var depoisData = historicoMedidas[dataIndex];
          var antesData = historicoMedidas[dataIndex + 1] || {};

          var tabelaBody = document.getElementById('medidasTableBody');
          var antesDataDiv = document.getElementById('antesData');
          var depoisDataDiv = document.getElementById('depoisData');

          tabelaBody.innerHTML = '';

          var medidas = Object.keys(nomesMedidas);

          var dadosAntes = [];
          var dadosDepois = [];
          var coresGanho = [];
          var coresGanhoGrafico = [];

          medidas.forEach(function(medida, index) {
              var depoisValor = (depoisData && depoisData[medida] !== undefined) ? depoisData[medida] : 'Indefinido';
              var antesValor = (antesData && antesData[medida] !== undefined) ? antesData[medida] : 'Indefinido';
              
              // Adicionando os valores aos arrays
              dadosAntes.push(antesValor);
              dadosDepois.push(depoisValor);
              
              // Calculando a diferença
              var diferenca = calcularDiferenca(antesValor, depoisValor);
              
              // Calculando o ganho
              var ganho;
              if (depoisValor !== 'Indefinido' && antesValor !== 'Indefinido') {
                  ganho = (depoisValor - antesValor).toFixed(2);
              } else {
                  ganho = 'Indefinido';
              }


              if (diferenca > 0) {
                  coresGanho.push('#04D939'); // Verde para ganho
                  coresGanhoGrafico.push('#04D939'); // Verde para o gráfico 'Depois'
              } else if (diferenca < 0) {
                  coresGanho.push('#F24405'); // Vermelho para perda
                  coresGanhoGrafico.push('#F24405'); // Vermelho para o gráfico 'Depois'
              } else {
                  coresGanho.push('#F0941F'); // Laranja para nenhum ganho
                  coresGanhoGrafico.push('#F0941F'); // Laranja para o gráfico 'Depois'
              }

              tabelaBody.innerHTML += `
                  <tr>
                      <th scope="row">${nomesMedidas[medida]}</th>
                      <td>${antesValor}</td>
                      <td>${depoisValor}</td>
                  </tr>
                  <tr>
                      <td></td>
                      <td></td>
                      <td style="color: ${coresGanho[index]};">${ganho > 0 ? '+ ' + ganho : (ganho < 0 ? '- ' + Math.abs(ganho) : '0.0')}</td>
                  </tr>
              `;
          });

          // Atualizar as datas formatadas no topo
          antesDataDiv.textContent = antesData ? formatarData(antesData['data_atualizacao']) : 'N/A';
          depoisDataDiv.textContent = depoisData ? formatarData(depoisData['data_atualizacao']) : 'N/A';

          // Atualizar o gráfico
          graficoPeso.data.datasets[0].data = dadosAntes;
          graficoPeso.data.datasets[1].data = dadosDepois;
          graficoPeso.data.datasets[1].backgroundColor = coresGanhoGrafico;
          graficoPeso.update();
      }

      var currentDateIndex = 0;

      // Inicializa a tabela e o gráfico
      atualizarTabelaEChart(currentDateIndex);

      // Configura navegação entre datas
      document.getElementById('prevDate').addEventListener('click', function() {
          if (currentDateIndex > 0) {
              currentDateIndex--;
              atualizarTabelaEChart(currentDateIndex);
          }
      });

      document.getElementById('nextDate').addEventListener('click', function() {
          if (currentDateIndex < historicoMedidas.length - 1) {
              currentDateIndex++;
              atualizarTabelaEChart(currentDateIndex);
          }
      });

      // Configuração da legenda de cores
      var legendaCores = document.getElementById('legendaCores');
      var coresExplicacao = '<strong>Legenda de Cores:</strong><br>' +
          '<span style="color: #04D939;">▮</span> Ganho (verde)<br>' +
          '<span style="color: #F24405;">▮</span> Perda (vermelho)<br>' +
          '<span style="color: #F0941F;">▮</span> Nenhum ganho (laranja)';
      legendaCores.innerHTML = coresExplicacao;
  });
</script>



  
<!--.content-area
<div class="footer-menu circular">
 
</div>-->

<script src="{{ url_for('static', filename='assets/js/pwa.js') }}"></script>

<!-- LOAD FILES AT PAGE END FOR FASTER LOADING -->

<!-- CORE JS FRAMEWORK - START -->
<script src="{{ url_for('static', filename='modules/jquery/jquery-2.2.4.min.js') }}"></script>
<script src="{{ url_for('static', filename='modules/materialize/materialize.js') }}"></script>
<script src="{{ url_for('static', filename='modules/perfect-scrollbar/perfect-scrollbar.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/variables.js') }}"></script>
<!-- CORE JS FRAMEWORK - END -->


<!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - START -->
<!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - END -->
<script src="{{ url_for('static', filename='assets/js/common.js') }}"></script>

<!-- CORE TEMPLATE JS - START -->
<script src="{{ url_for('static', filename='modules/app/init.js') }}"></script>
<script src="{{ url_for('static', filename='modules/app/settings.js') }}"></script>

<script src="{{ url_for('static', filename='modules/app/scripts.js') }}"></script>

<!-- END CORE TEMPLATE JS - END -->


<script src="{{ url_for('static', filename='assets/js/preloader.js') }}"></script>
<script src="{{ url_for('static', filename='js/treinos.js') }}"></script>

</body>

</html>