
<!DOCTYPE html>
<html lang="pt-br" translate="no">

<head>
  <!-- 
         * @Package: Ensign PWA Mobile App 
         * @Author: themepassion
         * @Version: 1.0
        -->
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>Academia | Innovare</title>
  <meta content="Ensign PWA Mobile App" name="description" />
  <meta content="themepassion" name="author" />


  <!-- App Icons -->

  <meta name="description" content="{{ manifest.description }}">

    <!-- Vincula o manifest.json usando url_for -->
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">

    <!-- Adicione as tags de ícone para diferentes tamanhos usando um loop -->
    {% for icon in manifest.icons %}
        {% set icon_path = url_for('static', filename=icon.src) %}
        <link rel="icon" type="image/png" sizes="{{ icon.sizes }}" href="{{ icon_path }}">
    {% endfor %}
  
  <meta name="msapplication-TileColor" content="#ffffff">
 
  <meta name="theme-color" content="#ffffff">

  <!-- CORE CSS FRAMEWORK - START -->
  <link href="{{ url_for('static', filename='assets/css/preloader.css') }}" type="text/css" rel="stylesheet" media="screen" />

  <link href="{{ url_for('static', filename='modules/materialize/materialize.min.css') }}" type="text/css" rel="stylesheet" media="screen" />
  <link href="{{ url_for('static', filename='modules/fonts/mdi/appicon/appicon.css') }}" type="text/css" rel="stylesheet" media="screen" />
  <link href="{{ url_for('static', filename='modules/fonts/mdi/materialdesignicons.min.css') }}" type="text/css" rel="stylesheet" media="screen" />
  <link href="{{ url_for('static', filename='modules/perfect-scrollbar/perfect-scrollbar.css') }}" type="text/css" rel="stylesheet" media="screen" />
  

  <!-- CORE CSS FRAMEWORK - END -->

  <!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - START -->
    <!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - END -->

  <!-- CORE CSS TEMPLATE - START -->

  <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='assets/images/icons/favicon-16x16.png') }}">

    <link href="{{ url_for('static', filename='assets/css/style.css')}}" type="text/css" rel="stylesheet" media="screen" id="main-style" />
  <!-- CORE CSS TEMPLATE - END -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/evolucao.css') }}">

</head>
<!-- END HEAD -->

<!-- BEGIN BODY -->
<body class=" menu-full header-image html"  data-header="light" data-footer="light"  data-header_align="app"  data-menu_type="left" data-menu="light" data-menu_icons="on" data-footer_type="left" data-site_mode="light" data-footer_menu="show" data-footer_menu_style="light"  >
    <div class="preloader-background">
      <div class="preloader-wrapper">
        <div class="configure-border-1">  
        </div>  
        <div class="configure-border-2">
        </div> 
      </div>
    </div>

  <!-- SIDEBAR - START -->
<!-- MAIN MENU - START -->

<!-- MAIN MENU - END -->

<!--  SIDEBAR - END --><!-- SIDEBAR - START -->

<!-- MAIN MENU - START -->

<!-- MAIN MENU - END -->

<!--  SIDEBAR - END -->

<!-- START navigation -->
<nav class="fix_topscroll logo_on_fixed  topbar navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="index.html" class=" brand-logo " >Innovare</a>    
      
      <a href="/logout" data-target="" class="waves-effect waves-circle navicon back-button htmlmode show-on-large "><i class="mdi mdi-arrow-left" data-page=""></i></a>
    
    
    <a href="#" data-target="slide-nav" class="waves-effect waves-circle navicon sidenav-trigger show-on-large"><i class="app-icon-menu1"></i></a>

    <a href="#" data-target="slide-settings" class="waves-effect waves-circle navicon right sidenav-trigger show-on-large"><i class="app-icon-equalizer"></i></a>

    <a href="#" data-target="" class="waves-effect waves-circle navicon right nav-site-mode show-on-large"><i class="app-icon-contrast"></i></a>
    <!-- <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a> -->
  </div>
</nav>
  <ul id="slide-nav" class="sidenav sidemenu">
  <li class="user-wrap">
    <div class="user-view row">
     
            <div class="col s3 imgarea">
        <a href="#user" class="status available"><img class="circle" src="{{ url_for('static', filename='images/IMG.png') }}" alt="menu user"></a>

      </div>
            <div class="col s9 infoarea">
        <a href=""><span class="name"></span></a>
        <a href="">
          <span class="date">Inicio: </span>
        </a>
      </div>
    </div>
  </li>
  <li class="menulinks">
    <ul class="collapsible">
      <!-- Menu Data Start-->
    <li class="sh-wrap">
      <div class="subheader">
          Explore
      </div>
    </li>             
    <li class="lvl1 ">
        <div class="waves-effect ">
          <a href="/treino/" class="sidenav-trigger" >
              <i class="mdi mdi-dumbbell"></i>
              <span class="title">Treino</span>
              <div class='lvl1-tag'>
                Sala dos treinos
              </div> 
            </a>
        </div>
      </li> 
    <li class="lvl1 ">
      <div class="waves-effect ">
        <a href="/login/logout" class="sidenav-trigger" >
          <i class="mdi mdi-logout"></i>
          <span class="title">Sair</span>
          <div class='lvl1-tag'>
            Sair do app
          </div> 
        </a>
       
      </div>
    </li> 
    <!-- Menu Data End-->
    </ul>
  </li>
    
    <li class="copy-spacer"></li>
    <li class="copy-wrap">
  <div class="copyright">
    &copy; krypta @ Innovare
  </div>
  </ul>
  <!-- END navigation -->
  <ul id="slide-settings" class="sidenav sidesettings ">
    <li class="menulinks">
      <ul class="collapsible">
      <!-- Menu Settings Start-->
      <li class="sh-wrap"><div class="subheader">Temas</div></li>
                    <li class="lvl1  theme">
                    <div class="waves-effect appsettings " data-type="theme" data-value="red">
                        <a href="#!">
                        <i class="mdi mdi-checkbox-intermediate red-text text-lighten-2"></i>
                        <span class="title">Red</span>  </a>
                        </div></li>
                    <li class="lvl1  theme">
                    <div class="waves-effect appsettings " data-type="theme" data-value="orange">
                        <a href="#!">
                        <i class="mdi mdi-checkbox-blank-outline deep-orange-text text-lighten-2"></i>
                        <span class="title">Orange</span>  </a>
                        </div></li>
                    <li class="lvl1  theme">
                    <div class="waves-effect appsettings " data-type="theme" data-value="blue">
                        <a href="#!">
                        <i class="mdi mdi-checkbox-blank-outline blue-text text-lighten-2"></i>
                        <span class="title">Blue</span>  </a>
                        </div></li>
                    <li class="lvl1  theme">
                    <div class="waves-effect appsettings " data-type="theme" data-value="teal">
                        <a href="#!">
                        <i class="mdi mdi-checkbox-blank-outline teal-text text-lighten-2"></i>
                        <span class="title">Teal</span>  </a>
                        </div></li>
                    <li class="lvl1  theme">
                    <div class="waves-effect appsettings " data-type="theme" data-value="pink">
                        <a href="#!">
                        <i class="mdi mdi-checkbox-blank-outline pink-text text-lighten-2"></i>
                        <span class="title">Pink</span>  </a>
                        </div></li>
                    <li class="lvl1  theme">
                    <div class="waves-effect appsettings " data-type="theme" data-value="light-green">
                        <a href="#!">
                        <i class="mdi mdi-checkbox-blank-outline light-green-text text-lighten-2"></i>
                        <span class="title">Light Green</span>  </a>
                        </div></li>
                    <li class="lvl1  theme">
                    <div class="waves-effect appsettings " data-type="theme" data-value="purple">
                        <a href="#!">
                        <i class="mdi mdi-checkbox-blank-outline purple-text text-lighten-2"></i>
                        <span class="title">Violet</span>  </a>
                        </div></li>
                    <li class="lvl1  theme">
                    <div class="waves-effect appsettings " data-type="theme" data-value="green">
                        <a href="#!">
                        <i class="mdi mdi-checkbox-blank-outline green-text text-lighten-2"></i>
                        <span class="title">Green</span>  </a>
                        </div></li>
                    <li class="lvl1  theme">
                    <div class="waves-effect appsettings active" data-type="theme" data-value="deep-purple">
                        <a href="#!">
                        <i class="mdi mdi-checkbox-blank-outline deep-purple-text text-lighten-2"></i>
                        <span class="title">Purple</span>  </a>
                        </div></li>
                    <li class="lvl1  theme">
                    <div class="waves-effect appsettings " data-type="theme" data-value="amber">
                        <a href="#!">
                        <i class="mdi mdi-checkbox-blank-outline amber-text"></i>
                        <span class="title">Yellow</span>  </a>
                        </div></li>
                    <li class="lvl1  theme">
                    <div class="waves-effect appsettings " data-type="theme" data-value="indigo">
                        <a href="#!">
                        <i class="mdi mdi-checkbox-blank-outline indigo-text text-lighten-2"></i>
                        <span class="title">Indigo</span>  </a>
                        </div></li>
                    <li class="lvl1  theme">
                    <div class="waves-effect appsettings " data-type="theme" data-value="blue-grey">
                        <a href="#!">
                        <i class="mdi mdi-checkbox-blank-outline blue-grey-text text-lighten-2"></i>
                        <span class="title">Blue Grey</span>  </a>
                        </div></li>
                    <li class="lvl1  theme">
                    <div class="waves-effect appsettings " data-type="theme" data-value="brown">
                        <a href="#!">
                        <i class="mdi mdi-checkbox-blank-outline brown-text text-lighten-2"></i>
                        <span class="title">Brown</span>  </a>
                        </div></li>
                    <li class="lvl1  theme">
                    <div class="waves-effect appsettings " data-type="theme" data-value="cyan">
                        <a href="#!">
                        <i class="mdi mdi-checkbox-blank-outline cyan-text text-lighten-2"></i>
                        <span class="title">Cyan</span>  </a>
                        </div></li>
                    <li class="lvl1  theme">
                    <div class="waves-effect appsettings " data-type="theme" data-value="grey">
                        <a href="#!">
                        <i class="mdi mdi-checkbox-blank-outline grey-text text-darken-2"></i>
                        <span class="title">Black</span>  </a>
                        </div></li><li class="sep-wrap"><div class="divider"></div></li><li class="sh-wrap"><div class="subheader">Site Mode</div></li>
                    <li class="lvl1  site_mode">
                    <div class="waves-effect appsettings active" data-type="site_mode" data-value="light">
                        <a href="#!">
                        <i class="mdi mdi-checkbox-intermediate"></i>
                        <span class="title">Light Mode</span>  </a>
                        </div></li>
                    <li class="lvl1  site_mode">
                    <div class="waves-effect appsettings " data-type="site_mode" data-value="dark">
                        <a href="#!">
                        <i class="mdi mdi-checkbox-blank-outline"></i>
                        <span class="title">Dark Mode</span>  </a>
                    <li class="lvl1  header">
                   
                   
                   
      </ul>
    </li>
  </ul>

<div class="menu-close">
  <i class="mdi mdi-close">

  </i>
</div>

<div class="content-area">

  <div class="pagehead-bg   primary-bg" >
  </div> 

  <div class="container has-pagehead is-pagetitle">
    <div class="section">
      <h5 class="pagetitle"></h5>

    </div>
  </div>

  <div class="container transparent pr0 pl0 relative">
    <div class="section pt0 pb0">
        <div class="row">
            <div class="col s12 pad-0">
              
                <div class="table-responsive">
                
                    <br>
                    <table class="table table-bordered">
                        <!-- Cabeçalho da tabela -->
                        <thead>
                            <tr>
                                <th scope="col">Medida</th>
                                <th scope="col">Antes</th>
                                <th scope="col">Depois</th>
                            </tr>
                        </thead>
                        <!-- Corpo da tabela -->
                        <tbody>
                            <!-- Linha para Data Atualização -->
                            <tr>
                                <th scope="row">Data Atualização</th>
                                <!-- Exibir data atualização antes -->
                                <td>{{ formatar_data(historico_medidas_peso[-1]['data_atualizacao']) }}</td>
                                <!-- Exibir data atualização depois -->
                                <td>{{ formatar_data(historico_depois[0]['data_atualizacao']) }}</td>
                            </tr>
                            <!-- Verificar se há histórico de medidas de peso -->
                            {% if historico_medidas_peso %}
                                <!-- Definir ordem das medidas -->
                                {% set ordem_medidas = ['peso', 'ombro', 'torax', 'braco_d', 'braco_e', 'ant_d', 'ant_e', 'cintura', 'abdome', 'quadril', 'coxa_d', 'coxa_e', 'pant_d', 'pant_e'] %}
                                <!-- Iterar sobre as medidas -->
                                {% for medida_key in ordem_medidas %}
                                    <!-- Dicionário de nomes das medidas -->
                                    {% set medida_nomes = {
                                        'peso': 'Peso',
                                        'ombro': 'Ombro',
                                        'torax': 'Tórax',
                                        'braco_d': 'Braço Direito',
                                        'braco_e': 'Braço Esquerdo',
                                        'ant_d': 'Antebraço Direito',
                                        'ant_e': 'Antebraço Esquerdo',
                                        'cintura': 'Cintura',
                                        'abdome': 'abdômen',
                                        'quadril': 'Quadril',
                                        'coxa_d': 'Coxa Direita',
                                        'coxa_e': 'Coxa Esquerda',
                                        'pant_d': 'Panturrilha Direita',
                                        'pant_e': 'Panturrilha Esquerda',
                                    } %}
                                    <!-- Atribuir chave da medida -->
                                    {% set key = medida_key %}
                                    <!-- Obter valor antes da atualização -->
                                    {% set value_antes = historico_medidas_peso[-1][key] %}
                                    <!-- Linha para a medida atual -->
                                    <tr>
                                        <!-- Exibir nome da medida -->
                                        <th scope="row">{{ medida_nomes[key]|default(key.capitalize()) }}</th>
                                        <!-- Exibir valor antes -->
                                        <td>{{ value_antes }}</td>
                                        <td>
                                            <!-- Verificar se há dados disponíveis depois -->
                                            {% if historico_depois[0][key] is defined and value_antes is defined %}
                                                <!-- Exibir valor depois -->
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        {{ historico_depois[0][key] }}
                                                    </div>
                                                    <!-- Calcular e exibir ganho ou perda -->
                                                    <div class="col-md-6">
                                                        {% set ganho = historico_depois[0][key]|float - value_antes|float %}
                                                        {% set perda = value_antes|float - historico_depois[0][key]|float %}
                                                        {% if ganho > 0 %}
                                                            <span class="badge_ "> + {{ ganho|round(2) }}</span>
                                                        {% elif perda > 0 %}
                                                            <span class="badge__ "> - {{ perda|round(2) }}</span>
                                                        {% else %}
                                                            <span class="badge___ "> 0.0 </span>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            {% else %}
                                                <!-- Indicar falta de dados -->
                                                <span class="badge bg-warning">Sem dados disponíveis</span>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            <!-- Caso não haja histórico de medidas -->
                            {% else %}
                                <tr>
                                    <td colspan="3">Nenhuma medida registrada ainda.</td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                    <!-- Adicionar gráfico de peso -->
                    <canvas id="graficoPeso" width="400" height="300"></canvas>
                    <!-- Legenda de cores -->
                    <div id="legendaCores"></div>
                </div>
                <div class="card-content">
                    <p><strong> Esta página mostra sua evolução na academia, exibindo medidas corporais com indicadores visuais intuitivos para identificar ganhos ou perdas entre as últimas atualizações.</strong></p>
                    </div>
            </div>
        </div>
        
        <!-- Importar script do Chart.js -->
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                var historico_medidas_peso = {% if historico_medidas_peso %}{{ historico_medidas_peso | tojson | safe }}{% else %}[]{% endif %};
                var historico_depois = {% if historico_depois %}{{ historico_depois | tojson | safe }}{% else %}[]{% endif %};
            
                // Verificar se há dados disponíveis
                if (historico_medidas_peso.length > 0 && historico_depois.length > 0) {
                    // Obter a última atualização
                    var medidasAntes = historico_medidas_peso[historico_medidas_peso.length - 1];
                    var medidasDepois = historico_depois[0];
            
                    var ctxPeso = document.getElementById('graficoPeso').getContext('2d');
            
                    var calcularDiferenca = function (antes, depois) {
                        if (isNaN(antes) || isNaN(depois)) {
                            return 0;
                        }
            
                        return depois - antes;
                    };
            
                    var labels = ['Peso', 'Ombro', 'Tórax', 'Braço Direito', 'Braço Esquerdo', 'Antebraço Direito', 'Antebraço Esquerdo', 'Cintura', 'abdômen', 'Quadril', 'Coxa Direita', 'Coxa Esquerda', 'Panturrilha Direita', 'Panturrilha Esquerda'];
                    var dadosAntes = [medidasAntes['peso'], medidasAntes['ombro'], medidasAntes['torax'], medidasAntes['braco_d'], medidasAntes['braco_e'], medidasAntes['ant_d'], medidasAntes['ant_e'], medidasAntes['cintura'], medidasAntes['abdome'], medidasAntes['quadril'], medidasAntes['coxa_d'], medidasAntes['coxa_e'], medidasAntes['pant_d'], medidasAntes['pant_e']];
                    var dadosDepois = [medidasDepois['peso'], medidasDepois['ombro'], medidasDepois['torax'], medidasDepois['braco_d'], medidasDepois['braco_e'], medidasDepois['ant_d'], medidasDepois['ant_e'], medidasDepois['cintura'], medidasDepois['abdome'], medidasDepois['quadril'], medidasDepois['coxa_d'], medidasDepois['coxa_e'], medidasDepois['pant_d'], medidasDepois['pant_e']];
            
                    // Remover as medidas de data
                    var medidasExcluidas = ['data_atualizacao', 'data_entrada'];
            
                    // Filtrar as medidas indesejadas
                    labels = labels.filter(function (label) {
                        return !medidasExcluidas.includes(label.toLowerCase());
                    });
            
                    dadosAntes = dadosAntes.filter(function (dado, index) {
                        return !medidasExcluidas.includes(labels[index].toLowerCase());
                    });
            
                    dadosDepois = dadosDepois.filter(function (dado, index) {
                        return !medidasExcluidas.includes(labels[index].toLowerCase());
                    });
            
                    var obterCoresFundo = function (antes, depois) {
                        var cores = {};
                        antes.forEach(function (valor, index) {
                            var diferenca = calcularDiferenca(valor, depois[index]);
                            if (diferenca > 0) {
                                cores[labels[index] + '_antes'] = '#103778'; // Cinza para ganho
                                cores[labels[index] + '_depois'] = '#04D939'; // Ganho (verde)
                            } else if (diferenca < 0) {
                                cores[labels[index] + '_antes'] = '#103778'; // Cinza para perda
                                cores[labels[index] + '_depois'] = '#F24405'; // Perda (vermelho)
                            } else {
                                cores[labels[index] + '_antes'] = '#103778'; // Cinza para nenhum ganho
                                cores[labels[index] + '_depois'] = '#F0941F'; // Nenhum ganho (laranja)
                            }
                        });
                        return cores;
                    };
            
                    var data = {
                        labels: labels,
                        datasets: [
                            {
                                label: 'Antes',
                                backgroundColor: function (context) {
                                    var cores = obterCoresFundo(dadosAntes, dadosDepois);
                                    return Object.values(cores).filter(function (_, index) {
                                        return index % 2 === 0; // Pegar apenas as cores "antes"
                                    });
                                },
                                borderColor: '#151F30',
                                borderWidth: 1,
                                data: dadosAntes
                            },
                            {
                                label: 'Depois',
                                backgroundColor: function (context) {
                                    var cores = obterCoresFundo(dadosAntes, dadosDepois);
                                    return Object.values(cores).filter(function (_, index) {
                                        return index % 2 !== 0; // Pegar apenas as cores "depois"
                                    });
                                },
                                borderColor: '#151F30',
                                borderWidth: 1,
                                data: dadosDepois
                            }
                        ]
                    };
            
                    var options = {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    };
            
                    var graficoPeso = new Chart(ctxPeso, {
                        type: 'bar',
                        data: data,
                        options: options
                    });
                } 
              
                 else {
                    // Se não houver dados disponíveis, exiba uma mensagem ou faça o tratamento apropriado
                    console.log('Sem dados disponíveis para exibir o gráfico.');
                }
            });
                var legendaCores = document.getElementById('legendaCores');
                var coresExplicacao = '<strong>Legenda de Cores:</strong><br>' +
                    '<span style="color: #151F30;">▮</span> Antes (Azul)<br>' +
                    '<span style="color: #04D939;">▮</span> Ganho (verde)<br>' +
                    '<span style="color: #F24405;">▮</span> Perda (vermelho)<br>' +
                    '<span style="color: #F0941F;">▮</span> Nenhum ganho (laranja)';
                legendaCores.innerHTML = coresExplicacao;
        </script>
        
  
    </div>
  </div>
  
  

  <footer class="page-footer center social-colored ">
    <div class="container footer-content">
      <div class="row">
        <div class="">
          <h5 class="logo">Redes Sociais</h5>
            </div>
        <div class="link-wrap">

          <ul class="social-wrap">
            <li class="social">
              <a class="social-link" href="https://www.instagram.com/academiainnovare/" target="_blank">
                <i class="mdi mdi-instagram"></i>
              </a>      
              <a class="social-link" href="https://wa.me/558481544585" target="_blank">
                <i class="mdi mdi-whatsapp"></i>
              </a>        
            </li>
          </ul>
        </div>
      </div>
    </div>

   <div class="footer-copyright">
      <div class="container">
        &copy; Krypta <a class="" href="#">Innovare</a>. Todos os direitos reservados.
      </div>
   </div>
  </footer>

  <div class="backtotop">
    <a class="btn-floating btn primary-bg">
      <i class="mdi mdi-chevron-up"></i>
    </a>
  </div>
</div>
<!--.content-area-->
<div class="footer-menu circular">
 
</div>

<script src="{{ url_for('static', filename='assets/js/pwa.js') }}"></script>

<!-- LOAD FILES AT PAGE END FOR FASTER LOADING -->

<!-- CORE JS FRAMEWORK - START -->
<script src="{{ url_for('static', filename='modules/jquery/jquery-2.2.4.min.js') }}"></script>
<script src="{{ url_for('static', filename='modules/materialize/materialize.js') }}"></script>
<script src="{{ url_for('static', filename='modules/perfect-scrollbar/perfect-scrollbar.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/variables.js') }}"></script>
<!-- CORE JS FRAMEWORK - END -->


<!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - START -->
<!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - END -->
<script src="{{ url_for('static', filename='assets/js/common.js') }}"></script>

<!-- CORE TEMPLATE JS - START -->
<script src="{{ url_for('static', filename='modules/app/init.js') }}"></script>
<script src="{{ url_for('static', filename='modules/app/settings.js') }}"></script>

<script src="{{ url_for('static', filename='modules/app/scripts.js') }}"></script>

<!-- END CORE TEMPLATE JS - END -->


<script src="{{ url_for('static', filename='assets/js/preloader.js') }}"></script>
<script src="{{ url_for('static', filename='js/treinos.js') }}"></script>

</body>

</html>