<!DOCTYPE html>
<html lang="pt-br" translate="no">

<head>
  <!-- 
         * @Package: Ensign PWA Mobile App 
         * @Author: themepassion
         * @Version: 1.0
        -->
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>Academia | Innovare</title>
  <meta content="Ensign PWA Mobile App" name="description" />
  <meta content="themepassion" name="author" />


  <!-- App Icons -->

  <meta name="description" content="{{ manifest.description }}">

    <!-- Vincula o manifest.json usando url_for -->
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">

    <!-- Adicione as tags de ícone para diferentes tamanhos usando um loop -->
    {% for icon in manifest.icons %}
        {% set icon_path = url_for('static', filename=icon.src) %}
        <link rel="icon" type="image/png" sizes="{{ icon.sizes }}" href="{{ icon_path }}">
    {% endfor %}
  
  <meta name="msapplication-TileColor" content="#ffffff">
 
  <meta name="theme-color" content="#ffffff">

  <!-- CORE CSS FRAMEWORK - START -->
  <link href="{{ url_for('static', filename='assets/css/preloader.css') }}" type="text/css" rel="stylesheet" media="screen" />

  <link href="{{ url_for('static', filename='modules/materialize/materialize.min.css') }}" type="text/css" rel="stylesheet" media="screen" />
  <link href="{{ url_for('static', filename='modules/fonts/mdi/appicon/appicon.css') }}" type="text/css" rel="stylesheet" media="screen" />
  <link href="{{ url_for('static', filename='modules/fonts/mdi/materialdesignicons.min.css') }}" type="text/css" rel="stylesheet" media="screen" />
  <link href="{{ url_for('static', filename='modules/perfect-scrollbar/perfect-scrollbar.css') }}" type="text/css" rel="stylesheet" media="screen" />
  <link href="https://cdn.materialdesignicons.com/5.4.55/css/materialdesignicons.min.css" rel="stylesheet">

  <!-- CORE CSS FRAMEWORK - END -->

  <!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - START -->
    <!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - END -->

  <!-- CORE CSS TEMPLATE - START -->
  <link href="{{ url_for('static', filename='modules/flickity/flickity.min.css') }}" type="text/css" rel="stylesheet" media="screen" />
  <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='assets/images/icons/favicon-16x16.png') }}">
  <link href="{{ url_for('static', filename='assets/css/style.css')}}" type="text/css" rel="stylesheet" media="screen" id="main-style" />
  
  <!-- CORE CSS TEMPLATE - END -->



</head>
<!-- END HEAD -->

<!-- BEGIN BODY -->
<body class=" menu-full header-image html"  data-header="light" data-footer="light"  data-header_align="app"  data-menu_type="left" data-menu="light" data-menu_icons="on" data-footer_type="left" data-site_mode="light" data-footer_menu="show" data-footer_menu_style="light"  >
    <div class="preloader-background">
      <div class="preloader-wrapper">
        <div class="configure-border-1">  
        </div>  
        <div class="configure-border-2">
        </div> 
      </div>
    </div>

  <!-- SIDEBAR - START -->
<!-- MAIN MENU - START -->

<!-- MAIN MENU - END -->

<!--  SIDEBAR - END --><!-- SIDEBAR - START -->

<!-- MAIN MENU - START -->

<!-- MAIN MENU - END -->

<!--  SIDEBAR - END -->

<!-- START navigation -->
<nav class="fix_topscroll logo_on_fixed  topbar navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="index.html" class=" brand-logo " >Innovare</a>    
  
    <a href="#" data-target="" class="waves-effect waves-circle navicon right nav-site-mode show-on-large"><i class="app-icon-contrast"></i></a>
    <!-- <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a> -->
  </div>
</nav>

<ul id="slide-nav" class="sidenav sidemenu">
<li class="user-wrap">
  <div class="user-view row">
  
          <div class="col s3 imgarea">
      <a href="#user" class="status available"><img class="circle" src="{{ url_for('static', filename='images/IMG.png') }}" alt="menu user"></a>

    </div>
  
  </div>
</li>
<li class="menulinks">
  <ul class="collapsible">
    <!-- Menu Data Start-->
  <li class="sh-wrap">
    <div class="subheader">
        Explore
    </div>
  </li>             
  <li class="lvl1 ">
    
  </li>
  <li class="lvl1 ">
      <div class="waves-effect ">
      
    </div>
  </li>   
  <li class="lvl1 ">
    <div class="waves-effect ">
      
    </div>
  </li> 
  <!-- Menu Data End-->
  </ul>
</li>
  
  <li class="copy-spacer"></li>
  <li class="copy-wrap">
<div class="copyright">
  &copy; krypta @ Innovare
</div>
</ul>

<!-- END navigation -->
<ul id="slide-settings" class="sidenav sidesettings ">
  <li class="menulinks">
    <ul class="collapsible">
    <!-- Menu Settings Start-->
    <li class="sh-wrap"><div class="subheader">Temas</div></li>
                  <li class="lvl1  theme">
                  <div class="waves-effect appsettings " data-type="theme" data-value="red">
                      <a href="#!">
                      <i class="mdi mdi-checkbox-intermediate red-text text-lighten-2"></i>
                      <span class="title">Red</span>  </a>
                      </div></li>
                  <li class="lvl1  theme">
                  <div class="waves-effect appsettings " data-type="theme" data-value="orange">
                      <a href="#!">
                      <i class="mdi mdi-checkbox-blank-outline deep-orange-text text-lighten-2"></i>
                      <span class="title">Orange</span>  </a>
                      </div></li>
                  <li class="lvl1  theme">
                  <div class="waves-effect appsettings " data-type="theme" data-value="blue">
                      <a href="#!">
                      <i class="mdi mdi-checkbox-blank-outline blue-text text-lighten-2"></i>
                      <span class="title">Blue</span>  </a>
                      </div></li>
                  <li class="lvl1  theme">
                  <div class="waves-effect appsettings " data-type="theme" data-value="teal">
                      <a href="#!">
                      <i class="mdi mdi-checkbox-blank-outline teal-text text-lighten-2"></i>
                      <span class="title">Teal</span>  </a>
                      </div></li>
                  <li class="lvl1  theme">
                  <div class="waves-effect appsettings " data-type="theme" data-value="pink">
                      <a href="#!">
                      <i class="mdi mdi-checkbox-blank-outline pink-text text-lighten-2"></i>
                      <span class="title">Pink</span>  </a>
                      </div></li>
                  <li class="lvl1  theme">
                  <div class="waves-effect appsettings " data-type="theme" data-value="light-green">
                      <a href="#!">
                      <i class="mdi mdi-checkbox-blank-outline light-green-text text-lighten-2"></i>
                      <span class="title">Light Green</span>  </a>
                      </div></li>
                  <li class="lvl1  theme">
                  <div class="waves-effect appsettings " data-type="theme" data-value="purple">
                      <a href="#!">
                      <i class="mdi mdi-checkbox-blank-outline purple-text text-lighten-2"></i>
                      <span class="title">Violet</span>  </a>
                      </div></li>
                  <li class="lvl1  theme">
                  <div class="waves-effect appsettings " data-type="theme" data-value="green">
                      <a href="#!">
                      <i class="mdi mdi-checkbox-blank-outline green-text text-lighten-2"></i>
                      <span class="title">Green</span>  </a>
                      </div></li>
                  <li class="lvl1  theme">
                  <div class="waves-effect appsettings active" data-type="theme" data-value="deep-purple">
                      <a href="#!">
                      <i class="mdi mdi-checkbox-blank-outline deep-purple-text text-lighten-2"></i>
                      <span class="title">Purple</span>  </a>
                      </div></li>
                  <li class="lvl1  theme">
                  <div class="waves-effect appsettings " data-type="theme" data-value="amber">
                      <a href="#!">
                      <i class="mdi mdi-checkbox-blank-outline amber-text"></i>
                      <span class="title">Yellow</span>  </a>
                      </div></li>
                  <li class="lvl1  theme">
                  <div class="waves-effect appsettings " data-type="theme" data-value="indigo">
                      <a href="#!">
                      <i class="mdi mdi-checkbox-blank-outline indigo-text text-lighten-2"></i>
                      <span class="title">Indigo</span>  </a>
                      </div></li>
                  <li class="lvl1  theme">
                  <div class="waves-effect appsettings " data-type="theme" data-value="blue-grey">
                      <a href="#!">
                      <i class="mdi mdi-checkbox-blank-outline blue-grey-text text-lighten-2"></i>
                      <span class="title">Blue Grey</span>  </a>
                      </div></li>
                  <li class="lvl1  theme">
                  <div class="waves-effect appsettings " data-type="theme" data-value="brown">
                      <a href="#!">
                      <i class="mdi mdi-checkbox-blank-outline brown-text text-lighten-2"></i>
                      <span class="title">Brown</span>  </a>
                      </div></li>
                  <li class="lvl1  theme">
                  <div class="waves-effect appsettings " data-type="theme" data-value="cyan">
                      <a href="#!">
                      <i class="mdi mdi-checkbox-blank-outline cyan-text text-lighten-2"></i>
                      <span class="title">Cyan</span>  </a>
                      </div></li>
                  <li class="lvl1  theme">
                  <div class="waves-effect appsettings " data-type="theme" data-value="grey">
                      <a href="#!">
                      <i class="mdi mdi-checkbox-blank-outline grey-text text-darken-2"></i>
                      <span class="title">Black</span>  </a>
                      </div></li><li class="sep-wrap"><div class="divider"></div></li><li class="sh-wrap"><div class="subheader">Site Mode</div></li>
                  <li class="lvl1  site_mode">
                  <div class="waves-effect appsettings active" data-type="site_mode" data-value="light">
                      <a href="#!">
                      <i class="mdi mdi-checkbox-intermediate"></i>
                      <span class="title">Light Mode</span>  </a>
                      </div></li>
                  <li class="lvl1  site_mode">
                  <div class="waves-effect appsettings " data-type="site_mode" data-value="dark">
                      <a href="#!">
                      <i class="mdi mdi-checkbox-blank-outline"></i>
                      <span class="title">Dark Mode</span>  </a>
                  <li class="lvl1  header">
                
                
                
    </ul>
  </li>
</ul>

<div class="menu-close">
  <i class="mdi mdi-close">

  </i>
</div>

<div class="content-area">
  <div class="carousel carousel-fullscreen carousel-slider home_carousel carousel-events-home scrolling" style="height: 647px;">
    <a class="carousel-item active" href="/login" style="z-index: 0; opacity: 1; visibility: visible; transform: translateX(0px) translateX(7.9401px) translateX(0px) translateZ(0px);">
      <div class="bg" style="background-image: url('static/images/dance.png')"></div>
      <div class="item-content center-align white-text">
        <div class="spacer-large"></div>
        <div class="spacer-large"></div>
        <div class="spacer-large"></div>
        <div class="spacer-large"></div>
        <div class="spacer-large"></div> 
        <div class="spacer-large"></div>
        <h5 class="light white-text">Cardio Todas As Quintas</h5>
      </div>
    </a>

    <a class="carousel-item" href="/login" style="transform: translateX(0px) translateX(-742.06px) translateZ(0px); z-index: -2; opacity: 1; visibility: visible;">
      <div class="bg" style="background-image: url('static/images/comunicado_carnaval.jpeg')"></div>
      <div class="item-content center-align white-text">
        <div class="spacer-large"></div>
        <div class="spacer-large"></div>
        <div class="spacer-large"></div>
       
      </div>
    </a>

    <a class="carousel-item" href="/login" style="transform: translateX(0px) translateX(-367.06px) translateZ(0px); z-index: -1; opacity: 1; visibility: visible;">
      <div class="bg" style="background-image: url('static/images/camisa.jpeg')"></div>
      <div class="item-content right-align white-text">
      <div class="spacer-large"></div>
      <div class="spacer-large"></div> 
      <div class="spacer-large"></div>
      <h5 class="light white-text"></h5>
       
      </div>
    </a>
    <a class="carousel-item" href="/login" style="transform: translateX(0px) translateX(382.94px) translateZ(0px); z-index: -1; opacity: 1; visibility: visible;">
      <div class="bg" style="background-image: url('static/images/cartaz-valores.png')"></div>
      <div class="item-content left-align white-text">
        <div class="spacer-large"></div>
        <div class="spacer-large"></div>
        <div class="spacer-large"></div>
        <div class="spacer-large"></div>
        <h3></h3>
        <h5 class="light white-text"></h5>
      </div>
    </a>


    <ul class="indicators">
      <li class="indicator-item active"></li>
      <li class="indicator-item"></li>
      <li class="indicator-item"></li>
      <li class="indicator-item"></li>
      
    </ul>
  </div>
  <div class="page-footer center dark-bg footer-ex social-colored ">
    <div class="spacer"></div>
    <div class="spacer"></div>
    <h5 class="center bot-0 sec-tit white-text pad-15">Academia de musculação Innovare</h5>
    <p class="center-align white-text pad-30">Inovando seu estilo de vida!</p>
    <br>
    <div class="center">
      <a href="/login" class="btn waves-effect waves-light bg-primary">
          Login
        <i class="mdi mdi-login right"></i>        
      </a>
    </div>
    <div class="spacer"></div> 
  </div>

<div class="footer-menu circular">
  <ul>
     <li>
      <a href="/login">      <i class="mdi mdi-heart-pulse"></i>
      <!-- <span>Saúde</span> -->
      </a>    </li>
      <li>
      <a href="/login">     <i class="mdi mdi-weight-lifter"></i>
      <!-- <span>Treine</span> -->
      </a>    </li>
        <li>
      <a href="/login">      <i class="mdi mdi-run"></i>
      <!-- <span>Corra</span> -->
      </a>    </li>
        <li>
      <a href="/login">     <i class="mdi mdi-arm-flex"></i>

      <!-- <span>Dedique-se</span> -->
      </a>    </li>
       
        <li>
      <a href="/login">  <i class="mdi mdi-cup-water"></i>

      <!-- <span>Hidrate-se</span> -->
      </a>    </li>
      
  </ul>
</div>


<!--.content-area-->
<!-- <div class="footer-menu circular">
 
</div> -->

<script src="{{ url_for('static', filename='assets/js/pwa.js') }}"></script>

<!-- LOAD FILES AT PAGE END FOR FASTER LOADING -->

<!-- CORE JS FRAMEWORK - START -->
<script src="{{ url_for('static', filename='modules/jquery/jquery-2.2.4.min.js') }}"></script>
<script src="{{ url_for('static', filename='modules/materialize/materialize.js') }}"></script>
<script src="{{ url_for('static', filename='modules/perfect-scrollbar/perfect-scrollbar.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/variables.js') }}"></script>
<script src="{{ url_for('static', filename='modules/flickity/flickity.pkgd.min.js') }}"></script>
<!-- CORE JS FRAMEWORK - END -->


<!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - START -->
<!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - END -->
<script src="{{ url_for('static', filename='assets/js/common.js') }}"></script>

<!-- CORE TEMPLATE JS - START -->

<script src="{{ url_for('static', filename='modules/app/init.js') }}"></script>
<script src="{{ url_for('static', filename='modules/app/settings.js') }}"></script>

<script src="{{ url_for('static', filename='modules/app/scripts.js') }}"></script>

<!-- END CORE TEMPLATE JS - END -->


<script src="{{ url_for('static', filename='assets/js/preloader.js') }}"></script>

</body>

</html>