<!DOCTYPE html>
<html lang="pt-br" translate="no" class=" ">
<head>
  <!-- 
         * @Package: Ensign PWA Mobile App 
         * @Author: themepassion
         * @Version: 1.0
        -->
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Academia | Innovare</title>
  <meta content="Ensign PWA Mobile App" name="description" />
  <meta content="themepassion" name="author" />
  <!-- App Icons -->
  <!-- Vincula o manifest.json usando url_for -->
  <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">

  <!-- Adicione as tags de ícone para diferentes tamanhos usando um loop -->
  {% for icon in manifest.icons %}
      {% set icon_path = url_for('static', filename=icon.src) %}
      <link rel="icon" type="image/png" sizes="{{ icon.sizes }}" href="{{ icon_path }}">
  {% endfor %}
  <!-- CORE CSS FRAMEWORK - START -->
  <link href="{{ url_for('static', filename='assets/css/preloader.css') }}" type="text/css" rel="stylesheet" media="screen" />
  <link href="{{ url_for('static', filename='modules/materialize/materialize.min.css') }}" type="text/css" rel="stylesheet" media="screen" />
  <link href="{{ url_for('static', filename='modules/fonts/mdi/appicon/appicon.css') }}" type="text/css" rel="stylesheet" media="screen" />
  <link href="{{ url_for('static', filename='modules/fonts/mdi/materialdesignicons.min.css') }}" type="text/css" rel="stylesheet" media="screen" />
  <link href="{{ url_for('static', filename='modules/perfect-scrollbar/perfect-scrollbar.css') }}" type="text/css" rel="stylesheet" media="screen" />
  <!-- CORE CSS FRAMEWORK - END -->
  <!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - START -->
    <!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - END -->
  <!-- CORE CSS TEMPLATE - START -->
  <link href="{{ url_for('static', filename='assets/css/style.css') }}" type="text/css" rel="stylesheet" media="screen" id="main-style" />
  <!-- CORE CSS TEMPLATE - END -->
  <script>
    if ('serviceWorker' in navigator) {
      window.addEventListener('load', function() {
        navigator.serviceWorker.register("/sw.js").then(function(registration) {
          console.log('ServiceWorker registration successful with scope: ', registration.scope);
        }, function(err) {
          console.log('ServiceWorker registration failed: ', err);
        });
      });
    }
  </script>
  
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class=" menu-full  isfullscreen  html"  data-header="light" data-footer="light"  data-header_align="app"  data-menu_type="left" data-menu="light" data-menu_icons="on" data-footer_type="left" data-site_mode="light" data-footer_menu="show" data-footer_menu_style="light"  >
    <div class="preloader-background">
      <div class="preloader-wrapper">
        <div class="configure-border-1">  
        </div>  
        <div class="configure-border-2">
        </div> 
      </div>
    </div>
  <!-- SIDEBAR - START -->
<!-- MAIN MENU - START -->
<!-- MAIN MENU - END -->
<!--  SIDEBAR - END --><!-- SIDEBAR - START -->
<!-- MAIN MENU - START -->
<!-- MAIN MENU - END -->
<!--  SIDEBAR - END -->
<!-- START navigation -->



<div class="content-area">

  <h1 class="white-text center welcome-logo index-welcome"><img src="/static/images/Enovare.jpg" alt="Enovare" style="width: 300px; height: 60px;"></h1>
  
  <div class="fullfixed index-carousel">
    
    <div class="carousel carousel-fullscreen carousel-slider">
  
          <a class="carousel-item" href="#carousel-slide-0!">
            <div class="bg" style="background-image: url('{{ url_for('static', filename='assets/images/full-1.jpg') }}')"></div>
        <div class="item-content center-align white-text">
  
                    <h4>A motivação é o que te faz começar, o hábito é o que te mantém firme.</h4>
          
        </div>
                <div class="wave-bg">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="var(--primary-color)" fill-opacity="1" d="M0,96L24,80C48,64,96,32,144,42.7C192,53,240,107,288,154.7C336,203,384,245,432,245.3C480,245,528,203,576,154.7C624,107,672,53,720,58.7C768,64,816,128,864,138.7C912,149,960,107,1008,128C1056,149,1104,235,1152,240C1200,245,1248,171,1296,133.3C1344,96,1392,96,1416,96L1440,96L1440,320L1416,320C1392,320,1344,320,1296,320C1248,320,1200,320,1152,320C1104,320,1056,320,1008,320C960,320,912,320,864,320C816,320,768,320,720,320C672,320,624,320,576,320C528,320,480,320,432,320C384,320,336,320,288,320C240,320,192,320,144,320C96,320,48,320,24,320L0,320Z"/></svg>
            <div></div>
          </div>
        
        </a>
          <a class="carousel-item" href="#carousel-slide-1!">
            <div class="bg" style="background-image: url('{{ url_for('static', filename='assets/images/full-2.jpg') }}')"></div>

        <div class="item-content center-align white-text">
  
                    <h4>Não pare quando estiver cansado, pare quando estiver feito.</h4>
          
        </div>
                <div class="wave-bg">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="var(--primary-color)" fill-opacity="1" d="M0,96L24,80C48,64,96,32,144,42.7C192,53,240,107,288,154.7C336,203,384,245,432,245.3C480,245,528,203,576,154.7C624,107,672,53,720,58.7C768,64,816,128,864,138.7C912,149,960,107,1008,128C1056,149,1104,235,1152,240C1200,245,1248,171,1296,133.3C1344,96,1392,96,1416,96L1440,96L1440,320L1416,320C1392,320,1344,320,1296,320C1248,320,1200,320,1152,320C1104,320,1056,320,1008,320C960,320,912,320,864,320C816,320,768,320,720,320C672,320,624,320,576,320C528,320,480,320,432,320C384,320,336,320,288,320C240,320,192,320,144,320C96,320,48,320,24,320L0,320Z"/></svg>
            <div></div>
          </div>
        
        </a>
          <a class="carousel-item" href="#carousel-slide-2!">
            <div class="bg" style="background-image: url('{{ url_for('static', filename='assets/images/full-3.jpg') }}')"></div>
        <div class="item-content center-align white-text">
  
                    <h4>Transforme a dor do treino em força de vontade.</h4>
          
        </div>
                <div class="wave-bg">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="var(--primary-color)" fill-opacity="1" d="M0,96L24,80C48,64,96,32,144,42.7C192,53,240,107,288,154.7C336,203,384,245,432,245.3C480,245,528,203,576,154.7C624,107,672,53,720,58.7C768,64,816,128,864,138.7C912,149,960,107,1008,128C1056,149,1104,235,1152,240C1200,245,1248,171,1296,133.3C1344,96,1392,96,1416,96L1440,96L1440,320L1416,320C1392,320,1344,320,1296,320C1248,320,1200,320,1152,320C1104,320,1056,320,1008,320C960,320,912,320,864,320C816,320,768,320,720,320C672,320,624,320,576,320C528,320,480,320,432,320C384,320,336,320,288,320C240,320,192,320,144,320C96,320,48,320,24,320L0,320Z"/></svg>
            <div></div>
          </div>
        
        </a>
          <a class="carousel-item" href="#carousel-slide-3!">
            <div class="bg" style="background-image: url('{{ url_for('static', filename='assets/images/full-4.jpg') }}')"></div>

        <div class="item-content center-align white-text">
  
                    <h4>Seja mais forte do que sua desculpa</h4>
          
        </div>
                <div class="wave-bg">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="var(--primary-color)" fill-opacity="1" d="M0,96L24,80C48,64,96,32,144,42.7C192,53,240,107,288,154.7C336,203,384,245,432,245.3C480,245,528,203,576,154.7C624,107,672,53,720,58.7C768,64,816,128,864,138.7C912,149,960,107,1008,128C1056,149,1104,235,1152,240C1200,245,1248,171,1296,133.3C1344,96,1392,96,1416,96L1440,96L1440,320L1416,320C1392,320,1344,320,1296,320C1248,320,1200,320,1152,320C1104,320,1056,320,1008,320C960,320,912,320,864,320C816,320,768,320,720,320C672,320,624,320,576,320C528,320,480,320,432,320C384,320,336,320,288,320C240,320,192,320,144,320C96,320,48,320,24,320L0,320Z"/></svg>
            <div></div>
          </div>
        
        </a>
        </div></div>
  
  <div class="center index-start">
    <a href="/login" class='waves-light btn-large bg-primary'>  Fazer Login
    </a></div>
  
  
  
  
  
  
  
  
  
  </div><!--.content-area-->
  


<!--.content-area-->
<script src="{{ url_for('static', filename='assets/js/pwa.js') }}"></script>
<!-- LOAD FILES AT PAGE END FOR FASTER LOADING -->
<!-- CORE JS FRAMEWORK - START -->
<script src="{{ url_for('static', filename='modules/jquery/jquery-2.2.4.min.js') }}"></script>
<script src="{{ url_for('static', filename='modules/materialize/materialize.js') }}"></script>
<script src="{{ url_for('static', filename='modules/perfect-scrollbar/perfect-scrollbar.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/variables.js') }}"></script>
<!-- CORE JS FRAMEWORK - END -->
<!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - START -->
<script src="{{ url_for('static', filename='assets/js/common.js') }}"></script><!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - END -->
<!-- CORE TEMPLATE JS - START -->
<script src="{{ url_for('static', filename='modules/app/init.js') }}"></script>
<script src="{{ url_for('static', filename='modules/app/settings.js') }}"></script>
<script src="{{ url_for('static', filename='modules/app/scripts.js') }}"></script>
<!-- END CORE TEMPLATE JS - END -->
<script src="{{ url_for('static', filename='assets/js/preloader.js') }}"></script>
</body>
</html>