<!DOCTYPE html>
<html lang="PT-BR" class="no-js">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login | Innovare</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
  
    <meta name="description" content="{{ manifest.description }}">



    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/bootstrap.min.css') }}" type="text/css">

    <!-- Material Icon -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/materialdesignicons.min.css') }}" />

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/fonts/style.css') }}" />


   <!-- Adicione as tags de ícone para diferentes tamanhos usando um loop -->
   {% for icon in manifest.icons %}
        {% set icon_path = url_for('static', filename=icon.src) %}
        <link rel="icon" type="image/png" sizes="{{ icon.sizes }}" href="{{ icon_path }}">
    {% endfor %}
<style>
    #password-addon {
    padding: 0;
    margin: 0;
}
.mensagem-erro {
    color: #000000;
    background-color: #FFF0E6; /* Fundo em tom pastel */
    padding: 10px;
    border: 1px solid #FFA500; /* Borda laranja */
    border-radius: 5px; /* Cantos arredondados */
    margin-bottom: 10px; /* Espaço abaixo da mensagem */
    font-size: 14px;
}

</style>
</head>

<body>
    <!-- START -->
    <div class="account-pages">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6 col-xl-5">
                    <div class="card overflow-hidden">
                        <div class="auth-head position-relative">
                            <div class="bg-overlay-2"></div>
                        <div class="text-primary position-relative text-center p-5">
                                <a href="/" class="logo logo-admin">
                                    <img src="" height="26" alt="">
                                </a>
                                   <h5 class="text-white f-20 mt-3"></h5> 
                                   <br>
                                   <br>
                                <p class="text-white-50 mb-0">Faça Login Para Acessar os Treinos</p>
                            </div>
                        </div>

                        <div class="card-body p-4">
                            <div class="p-3">
                                <form method="POST">
                                    {% if mensagem_erro %}
                                        <p class="mensagem-erro">{{ mensagem_erro }}</p>
                                    {% endif %}
                                    <div class="mb-3">
                                        <label class="form-label" for="username">Usuário</label>
                                        <input type="text" class="form-control" name="username" id="username" placeholder="Username" required>
                                    </div>
                                    <div class="form-password mb-3 auth-pass-inputgroup">
                                        <label class="form-label" for="userpassword">Senha</label>
                                        <div class="d-flex position-relative">
                                            <input type="password" class="form-control flex-grow-1" id="password-input"  name="password" placeholder="Password" required>
                                            <button type="button" class="btn btn-link position-absolute shadow-none" id="password-addon" style="top: 50%; transform: translateY(-50%); right: 10px;">
                                                <i class="mdi mdi-eye-outline f-16 text-muted"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="mt-3">
                                        <button class="btn btn-success rounded-3 w-100" type="submit" style="background-color: #ff5733; border-color: #ff5733;">Entrar</button>
                                    </div>

                                </form>
                                <!-- end form -->
                            </div>
                        </div>
                        <!-- end cardbody -->
                    </div>
                    <!-- end card -->

                    <div class="mt-5 text-center">

                        <p class="mb-0">©Krypta.Innovare <script>document.write(new Date().getFullYear())</script> <i class="mdi mdi-heart text-danger"></i> Todos os direitos reservados. </p>
                    </div>
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
    </div>
    <!-- end -->
    
    <!-- Bootstrap -->
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>

    <!-- Custom JS -->
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>

</html>