
.badge_ {
    margin-left: 6px;
    Color: #04D939;
}

.badge__ {
    margin-left: 6px;
    Color: #F24405;
}
.badge___ {
    margin-left: 6px;
    Color: #F0941F;
}
/* Adaptação para dispositivos móveis */
@media (max-width: 767px) {
    .table th, .table td {
        padding: 8px;
    }
}