.col-md-12 {
  text-align: center;
}

h4 {
  margin: 0;
}

.alunos-pagam-semana {
  margin-top: 20px;
}

.table-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.inadimplentes, .proximo-pagamento {
  flex: 0 0 48%;
  margin-bottom: 20px;
}

th {
  color: black;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

thead {
  background-color: transparent;
  color: #fff;
}

th, td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
}

th {
  text-align: center;
}

.total-alunos {
  margin-top: 20px;
}

/* Responsividade para telas menores */
@media only screen and (max-width: 768px) {
  .table-container {
    flex-direction: column;
  }

  .inadimplentes, .proximo-pagamento {
    width: 100%;
  }
}
