{% extends 'base.jinja' %}

{% block head %}

<style>
  .text-small-top {
    font-size: 12px; /* Tamanho de fonte menor */
    position: absolute; /* Posição absoluta para sobrepor o conteúdo */
    top: 10px; /* Posição superior de 10px */
    left: 10px; /* Posição esquerda de 10px */
    margin: 0; /* Margem zero para evitar espaçamento extra */
    padding: 0; /* Preenchimento zero para evitar espaçamento extra */
    font-weight: bold; /* Deixa o texto em negrito */

    }

    .dropdown-menu {
        padding: 1rem;
    }
    .dropdown-item.active, .dropdown-item:active {
        background-color: #007bff;
        color: white;
    }
    .form-control {
        margin-bottom: 1rem;
    }
    /* Centraliza o dropdown-menu */
    .dropdown-menu {
        min-width: 200px;
    }
    .card-header {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

</style>

{% endblock %}
{% block content %}
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
    
      <div class="col-sm-2">
        <ol class="breadcrumb float-sm-right">
          
          <h4 class="breadcrumb-item active">Aluno: {{aluno.nome}} Categoria </h4>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

  <div class="card">
    <div class="card-header d-flex p-0">
      <ul class="nav nav-pills ml-auto p-2">
        <li class="nav-item dropdown mr-2">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">
            Filtrar<span class="caret"></span>
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item filtro-status" data-status="todos">Todos</a>
              <a class="dropdown-item filtro-status" data-status="segunda&sexta">Segunda e Sexta</a>
              <a class="dropdown-item filtro-status" data-status="terca&quinta">Terça e Quinta</a>
              <a class="dropdown-item filtro-status" data-status="quarta">Quarta e Sabado</a>
            
          </div>
      </ul>
      <ul class="nav nav-pills ml-auto p-2">
        <li class="nav-item dropdown mr-2">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">
                Buscar<span class="caret"></span>
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <!-- Formulário de Busca e Filtragem -->
                <form id="searchForm">
                    <input type="hidden" id="alunoId" name="alunoId" value="{{ aluno.id }}">
                     <div class="form-group">
                        <label for="categoriaId">Categorias:</label>
                        <select class="form-control" id="categoriaId" name="categoriaId">
                            {% for categoria in categorias %}
                            <option value="{{ categoria.id }}">{{ categoria.name }}</option>
                            {% endfor %}
                        </select>
                      </div>
                    <div class="form-group">
                        <label for="searchOptions">Filtrar:</label>
                        <select class="form-control" id="searchOptions" name="searchOptions">
                            <option value="todos" selected>Todos</option>
                            <option value="segunda&sexta">Segunda e Sexta</option>
                            <option value="terca&quinta">Terça e Quinta</option>
                            <option value="quarta">Quarta e Sabado</option>
                        </select>
                    </div>
                   
                    <button type="submit" class="btn btn-primary">Buscar</button>
                </form>
            </div>
        </li>
    </ul>
    

        <ul class="nav nav-pills ml-auto p-2">
          <li class="nav-item">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#cadastrarProjeto"> 
              Adicionar
            </button>
          </li>
        </ul>
    </div>
  </div>

<div class="row">
{% for exercicio in exercicios %}
{% include 'pages/alunos/exercicios/exercicio.jinja' with context %}
{% endfor %}

{% include 'pages/alunos/exercicios/modal.jinja' with context%}
{% endblock %}

{% block scripts %}


<!-- Inclua o JS do Moment.js, que é uma dependência do Date Range Picker -->
<script src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>

<!-- Inclua o JS do Date Range Picker -->
<script src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js">
</script>
{% include 'pages/alunos/exercicios/script.html'%}

{% endblock %}
